@import "tailwindcss";

@theme {
    --color-dark-950: #0b0f0e;
    --color-dark-900: #141414;
    --color-dark-850: #121212;
    --color-dark-800: #292929;
    --color-dark-700: #333333;
    --color-dark-600: #525252;
    --color-dark-500: #666666;
    --color-dark-400: #7a7a7a;
    --color-dark-300: #8f8f8f;

    --color-gray-700: #787a7c;
    --color-gray-600: #818b9c;
    --color-gray-500: #a3a3a3;
    --color-gray-400: #b8b8b8;
    --color-gray-300: #e0e0e0;
    --color-gray-250: #e6e6e6;
    --color-gray-200: #ebebeb;
    --color-gray-100: #f2f2f2;

    --color-purple-600: #3e3e59;

    --color-orange-500: #ffa439;

    --color-black: #000000;
    --color-white: #ffffff;

    --spacing-0: 0px;
    --spacing-1: 0.25rem; /* 4px */
    --spacing-2: 0.5rem; /* 8px */
    --spacing-3: 0.75rem; /* 12px */
    --spacing-4: 1rem; /* 16px */
    --spacing-5: 1.25rem; /* 20px */
    --spacing-6: 1.5rem; /* 24px */
    --spacing-8: 2rem; /* 32px */
    --spacing-10: 2.5rem; /* 40px */
    --spacing-12: 3rem; /* 48px */
    --spacing-16: 4rem; /* 64px */
    --spacing-20: 5rem; /* 80px */
    --spacing-24: 6rem; /* 96px */
    --spacing-32: 8rem; /* 128px */
    --spacing-40: 10rem; /* 160px */
    --spacing-48: 12rem; /* 192px */
    --spacing-56: 14rem; /* 224px */
    --spacing-64: 16rem; /* 256px */

    --font-family-clash: "Clash Grotesk", sans-serif;
    --font-weight-600: 600;
    --line-height-120: 1.2; /* 120% */

    --container-sm: 40rem; /* 640px  */
    --container-md: 48rem; /* 768px  */
    --container-lg: 64rem; /* 1024px */
    --container-xl: 75rem; /* 1200px */
    --container-2xl: 90rem; /* 1440px */

    --font-size-xs: 0.75rem; /* 12px */
    --font-size-s: 0.875rem; /* 14px */
    --font-size-m: 1rem; /* 16px */
    --font-size-l: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 1.875rem; /* 30px */
    --font-size-4xl: 2.25rem; /* 36px */
    --font-size-5xl: 3rem; /* 48px */
}

@layer base {
    html {
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        font-family: var(--font-family-clash);
        line-height: 1.5;
        color: var(--color-neutral-900);
        background-color: var(--color-neutral-50);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        line-height: 1.2;
        color: var(--color-neutral-900);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
